.meetup-item {
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(34, 34, 34);
    height: 4.5rem;
    width: 90%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 10rem auto auto;
    grid-template-rows: auto auto auto;
    margin: 1rem;
}

.meetup-item>h3 {
    grid-row: 2/span 3;
    text-align: center;
}

.meetup-item>p {
    grid-column: 2;
    line-height: 100%;
}

.meetup-item>button {
    background-color: rgb(34, 34, 34);
    color: rgb(228, 228, 228);
    height: 1.5rem;
    width: 4rem;
    border: unset;
    border-radius: 1rem;
    grid-row: 2;
    grid-column: 3;
}
.meetup-item>button:hover {
    background-color: rgb(54, 54, 54);
    cursor: pointer;
}