.meetup-details {
    position: sticky;
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(34, 34, 34);
    width: 75%;
    height: 95%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1.5rem auto 1.5rem auto;
    padding: 1.5rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 3rem 3rem 4rem 1rem 1rem 4rem 1rem;
    >button:nth-child(1) {
        user-select: none;
        color: red;
        background-color: rgb(34, 34, 34);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
    }
    >button:nth-child(1):hover {
        cursor: pointer;
    }
    >h2 {
        grid-row: 2;
        grid-column: 1/span 2;
    }
    >p:nth-child(3) {
        grid-row: 3;
        grid-column: 1/span 2;
    }
    >p:nth-child(4) {
        grid-row: 4;
    }
    >p:nth-child(5) {
        grid-row: 4;
    }
    >p:nth-child(6) {
        grid-row: 5;
    }
    >p:nth-child(7) {
        grid-row: 5;
    }
    >button:nth-child(8) {
        grid-row: 6;
        background-color: rgb(34, 34, 34);
        color: rgb(228, 228, 288);
        height: 3rem;
        width: 5rem;
        border: unset;
        border-radius: 1rem;
        margin: auto;
    }
    >button:nth-child(9) {
        grid-row: 6;
        background-color: rgb(34, 34, 34);
        color: rgb(228, 228, 288);
        height: 3rem;
        width: 5rem;
        border: unset;
        border-radius: 1rem;
        margin: auto;
    }
    >button:nth-child(8):hover, >button:nth-child(9):hover {
        background-color: rgb(54, 54, 54);
        cursor: pointer;
    }
    >p:nth-child(10) {
        grid-row: 7;
        grid-column: 1/span 2;
    }
}